body{
    padding: 25px;
    text-align: center;
    justify-content: center;
    margin: 0;
    background-image: url(https://t4.ftcdn.net/jpg/01/22/50/45/360_F_122504524_l8liiqWR7fZ9GO8i6JoWXzuJTrUWz82a.jpg);
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    min-height: 100vh;
    
}
h1{
    color: plum;
}
p{
    color: #4BC55B;
}
.container{

border: 5px solid white;
border-radius: 50px;
padding: 60px;
margin: 100px;

}


